@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 243, 244, 246;
  --background-end-rgb: 243, 244, 246;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 3, 7, 18;
  --background-end-rgb: 3, 7, 18;
}
